# VMess QUIC outbound。
- name: vmess-quic-upstream
  type: vmess
  server: vmess.example.com
  port: 443
  uuid: "{{ .VmessOutboundUUID }}"
  alter_id: 0
  security: auto
  tls:
    enabled: true
    server_name: vmess.example.com
    insecure: false
    alpn: [h3]
  network: tcp
  transport:
    type: quic
